Source/MIP_NDP/OptimizationConfigSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="net.optano.modeling.optimization" elementFormDefault="qualified" targetNamespace="net.optano.modeling.optimization" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="optimization" type="tns:OPTANO.Modeling.Optimization.Configuration.OptimizationConfigSectionCT" />
	<xs:complexType name="OPTANO.Modeling.Optimization.Configuration.OptimizationConfigSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="model" type="tns:OPTANO.Modeling.Optimization.Configuration.ModelElementCT">
				<xs:annotation>
					<xs:documentation>Defines settings for all models you will create within this application.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="solvers" type="tns:OPTANO.Modeling.Optimization.Configuration.SolversCollectionCT">
				<xs:annotation>
					<xs:documentation>The solvers collection allows you to specify settings for solvers you want to use within this application.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="OPTANO.Modeling.Optimization.Configuration.ModelElementCT">
		<xs:attribute name="behavior" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>'auto' will turn on automatic variable handling, i.e. when you add constraints and objectives the variables in them will be added automatically (default), 'manual' will turn this feature off and you need to add variables manually to the model</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enableFullNames" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Enables the Model to export full extended variable and constraint names to solvers and writers. Default is false. Using full names requires more memory. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="computeRemovedVariables" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Computes a set of variables that are removed in preprocessing of the the solver. Default is false. This computation requires an additional step and takes some time and memory. </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="OPTANO.Modeling.Optimization.Configuration.SolversCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="solver" type="tns:OPTANO.Modeling.Optimization.Configuration.SolverElementCT">
				<xs:annotation>
					<xs:documentation>Specifies settings for a particular solver.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="OPTANO.Modeling.Optimization.Configuration.SolverElementCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The name of a specific solver ("Cplex" is the default)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="path" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>Specifies the path to the native dll of this solver.  You can also use relative paths, like "..\..\cplex.dll"</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
